# Excel & Office temporary or binary data files
~$*
*.xlsx
*.doc

# Lock and build files
*.lock
temp_deploy/
site.zip
site_deploy.zip
live_url.txt

# Python / OS generated
__pycache__/
*.pyc
.DS_Store
